<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Biometrics -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <!-- Alarms -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <!-- Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Battery -->
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- Foreground Service - Alarm -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

    <!-- Wake Lock -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Overlay -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name="${applicationName}"
        android:label="myfarm"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">


        <!-- ===================================================== -->
        <!-- Flutter Local Notifications -->
        <!-- ===================================================== -->

        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"
            android:exported="false" />

        <receiver
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>


        <!-- ===================================================== -->
        <!-- Alarm -->
        <!-- ===================================================== -->

        <receiver
            android:name=".AlarmReceiver"
            android:exported="false" />


        <receiver
            android:name=".BootAlarmReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>


        <!-- Alarm Foreground Service -->
        <service
            android:name=".AlarmService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|specialUse">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="alarm" />

        </service>


        <!-- Alarm Activity -->
        <activity
            android:name=".AlarmActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:screenOrientation="portrait" />


        <!-- ===================================================== -->
        <!-- Ambient Screen -->
        <!-- ===================================================== -->

        <activity
            android:name=".LockScreenActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:screenOrientation="portrait"
            android:theme="@style/LockScreenTheme" />


            <!-- Ambient Foreground Service -->
        <service
            android:name=".AmbientForegroundService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="ambient_screen" />
        </service>


        


        <!-- ===================================================== -->
        <!-- Main Flutter Activity -->
        <!-- ===================================================== -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>


        <!-- ===================================================== -->
        <!-- Flutter -->
        <!-- ===================================================== -->

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>

    </application>


    <!-- ========================================================= -->
    <!-- Queries -->
    <!-- ========================================================= -->

    <queries>

        <intent>

            <action
                android:name="android.intent.action.PROCESS_TEXT"/>

            <data
                android:mimeType="text/plain"/>

        </intent>

    </queries>

</manifest>